@import 'abstracts/variables';
@import 'abstracts/mixin';

@import 'base/base';
@import 'components/nav';
@import 'components/loader';
@import 'components/cursor';
@import 'pages/home';
@import 'components/footer';

@import 'lib/slick';
@import 'lib/slickcustom';